/* Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

// Variable Declarations
$black: #000;
$grey: #808080;
$lightgrey: #f6f6f6;
$shadow: rgba(0, 0, 0, 0.5);
$skyblue: #13add5;
$darkblue: #1e94b2;

// Variable Declaration ends

// Mixin starts
@mixin flexBox ($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Mixin ends

/* Styling for 360px devices */

.navBar {
  background-color: $lightgrey;
  @include flexBox(flex, row, space-evenly, center);
  padding: 1rem 0;

  .logo {
    width: 175px;
  }

  .myNavbarToggler {
    position: relative;
    @include flexBox(flex, column, space-evenly, center);
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 0;
    border: 1px solid $grey;
    background-color: white;
    padding: 0.3rem;


    .navbarTogglerLine {
      display: inline-block;
      width: 95%;
      height: 2px;
      background-color: $black;
      transition: 500ms;
    }

    .anim1 {
      position: absolute;
      transform: rotate(135deg);
    }

    .anim2 {
      position: absolute;
      transform: translateX(-105%);
    }

    .anim3 {
      position: absolute;
      transform: rotate(-135deg);
    }
  }

  .myNavigation {
    width: 90%;
    position: fixed;
    top: 80px;
    @include flexBox(flex, column, center, center);
    box-shadow: 0px 0px 20px $shadow;
    transform: scale(0);
    transition: 500ms;
    border-radius: 0.3rem;
    font-weight: 600;

    .navbar-nav {
      width: 90%;
    }

    .dropdown-menu {
      width: 90%;
    }

    .dropdown-item {
      color: $skyblue;
      font-weight: 600;
    }
  }

  .anim4 {
    transform: scale(1);
  }
}

.heroSection {
  background-color: $lightgrey;

  .heroContentHolder {
    width: 90%;
    margin: 0 auto;
    @include flexBox(flex, column, center, flex-start);
  }

  .heroCarouselContent {
    height: 175px;
    font-size: 30px;
  }

  .heroContentText {
    font-weight: 600;
  }

  .myHeroBtn {
    width: 45%;
    height: 50px;
    @include flexBox(flex, row, space-between, center);
    background-color: $skyblue;
    overflow: hidden;
    border-radius: 0.3rem;
  }

  .myHeroBtnText {
    width: 75%;
    font-weight: 600;
    color: white;
    @include flexBox(flex, column, center, center);
  }

  .myHeroBtn i {
    width: 25%;
    height: 100%;
    padding: 0 0.5rem;
    background-color: $darkblue;
    @include flexBox(flex, row, center, center);
  }
}



/* Media Queries starts */

/* Styling for 576px devices */

@media (min-width: 576px) {}

/* Styling for 768px devices */

@media (min-width: 768px) {}

/* Styling for 992px devices */

@media (min-width: 992px) {
  .navBar {
    justify-content: space-between;
    padding: 1rem 2rem;

    .logo {
      width: 150px;
    }

    .myNavbarToggler {
      display: none;
    }

    .myNavigation {
      width: 60%;
      position: static;
      transform: scale(1);
      transition: none;
      box-shadow: none;

      .navbar-nav {
        @include flexBox(flex, row, space-between, center);
      }
    }
  }
}

/* Styling for 1200px devices */

@media (min-width: 1200px) {}